@model Feromon.Web.Models.CurrentUserModel
<div class="user-info-wrapper">
    <div class="user-info-profile-image">
        <img src="/Images/profile.jpg" alt="" width="65" height="65">
    </div>
    <div class="user-info">
        <div class="user-welcome">Welcome</div>
        <div class="username">@Model.Name </div>
        <div class="status">Status <span class="status-now"><i class="fa fa-circle text-emerald fa"></i> Online</span> </div>
    </div>
</div>
