
<li class="dropdown" id="bid-notif-li">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <img style="width: 30px" class="brand-logo" src="~/Images/arrow.png" alt="" />
        <span class="notification-icon label label-danger">3</span>
    </a>

    <ul class="dropdown-menu dropdown-tasks">
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-angle-double-right"></i> Arrow 1
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-angle-double-right"></i> Arrow 2
                    <span class="pull-right text-muted small">12 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-angle-double-right"></i> Arrow 3
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <span class="btn btn-primary btn-block">
                    <small id="btn_buyArrow">Buy arrow</small>
                </span>
            </a>
        </li>
    </ul>
    <!-- /.dropdown-alerts -->
</li>
<li class="dropdown container-condom" id="bid-notif-li">
    @Html.Partial("_BuyCondomPartial")
</li>