@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.Partial("_FriendsListPartial")
</div>
<button value="Send" id="sendButton"></button>
<script>
    $(function() {
        $("#sendButton").click(function() {
            $.post("http://localhost:24340/Home/SendNotification", function (data) {
               
            });
        });
    });
</script>